/* Reset a */
a,a:link,a:visited,a:focus,a:active {
    color:inherit;
    outline:none;
    text-decoration: none;
}
a:hover {
    outline:none;
    text-decoration: none;
}

/* Header */

body {
    background-color: #f4f4f4;
    color: #343434;
    font-family: 'Poppins', sans-serif;
}

#header {
    margin-top: 20px;
    margin-bottom: 70px;
}

#header div.menu {
    display: inline-block;
    width: 150px;
    cursor: pointer;
    position: relative;
    padding-top: 25px;
}

#header div.menu a {
    font-size: 20px;
    font-weight: 300;
    transition: color 0.7s cubic-bezier(.42, 0, 0, 1), 
}

#header div.menu .underline {
    background-color: #343434;
    position: absolute;
    width: 10%;
    height: 1px;
    margin-top: 3px;
    left: 50%;
    transform: translateX(-50%);
    will-change: transform;
    transition: width 0.7s cubic-bezier(.42, 0, 0, 1), background-color 0.7s cubic-bezier(.42, 0, 0, 1);
}

#header div.menu:hover .underline a {
    color: #8e8e8e;
}

#header div.menu:hover .underline {
    width: 50%;
    background-color: #8e8e8e;
}

/* Home CSS */

#home .intro {
    margin-bottom: 40px;
    font-size: 20px;
}

#home .group {
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.24);
    transition: box-shadow 0.25s ease-out;
    margin-bottom: 60px;
    border-radius: 3px;
}

#home .presentationGroup p {
    line-height: 1.5;
    margin: 15px 0;
}

#home .pictureGroup {
    padding: 0;
}

#home .pictureGroup img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 3px 3px 0;
}

/* Albums CSS */

#albums .albumBox {
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.24);
    transition: box-shadow 0.25s ease-out;
    border-radius: 3px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}

#albums .albumBox:hover {
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
}

#albums img {
    width: 260px;
}