{{ include('partials/header.twig') }}

<div id="home">
    <h2 class="intro">Bienvenue sur le site internet cataloguant les différents albums du groupe Muse.</h2>

    <div class="row group">
        <div class="presentationGroup col-md-8">
            <p>Muse est un groupe de rock britannique originaire de Teignmouth, dans le Devon, en Angleterre. Apparu sur la scène musicale en 1994, le trio est composé de Matthew Bellamy (chant, guitare, piano), Christopher Wolstenholme (basse, harmonica, chant, chœurs) et Dominic Howard (batterie, percussions).</p>

            <p>Muse compte sept albums studio depuis ses débuts qui sont Showbiz (1999), Origin of Symmetry (2001), Absolution (2003), Black Holes and Revelations (2006), The Resistance (2009), The 2d Law (2012), et enfin Drones (2015). Ils sont également auteurs de quatre DVD live à leur actif.</p>

            <p>À l'occasion des Jeux olympiques de Londres de 2012, le groupe est invité à composer l'hymne officiel de l’événement (la chanson Survival) ; il fait également une apparition lors de la cérémonie de clôture de ces mêmes Jeux4. En 2014, le groupe britannique a vendu plus de 20 millions d'albums dans le monde5 et a 1,1 milliard de vues sur YouTube en mai 2017 6. Régulièrement récompensés par des prix, ils remportent notamment le Grammy Award dans la catégorie de « Meilleur album rock » en 2011 et 2016.</p>
        </div>
        <div class="pictureGroup col-md-4">
            <img src="{{ global.request.basepath }}/assets/img/resistance_muse.png" alt="Pochette d'album de Resistance">
        </div>
    </div>
</div>


{{ include('partials/footer.twig') }}